---
layout: default
---
<div class="home">

  <section class="about-this-site">
    <h4>How I made this website</h4>
    <ul>
      <li> <strong>*</strong> <a href="https://github.com/jekyll/jekyll">Jekyll</a> for static site generation</li> 
      <li> <strong>*</strong> Responsive CSS by <a href="http://getskeleton.com/">Skeleton</a></li>
      <li> <strong>*</strong> Font used everywhere is <a href="https://fonts.google.com/specimen/Montserrat">Montserrat</a></li>
    </ul>
  </section>

</div>
