---
layout: default
skills:
  - name: Ruby
    description: Web development with Rails
  - name: Python
    description: Web development with Flask, Django, data science with pandas, NumPy
  - name: Javascript
    description: Front-end development with React, jQuery
  - name: CSS
    description: Bootstrap, SASS, responsive design
  - name: vim
    description: (a little bit)
projects:
  - name: drink-me
    url: https://gitlab.com/paaaco/drink-me
    description: a long-text summarizer gem written in Ruby
  - name: Palette Extractor
    url: https://palette-extractor.herokuapp.com
    description: a web app that gets the prominent color palette from a user-uploaded image. Built with Sinatra and Vue.js.
    screenshot: palette_extractor.png

contacts:
  - name: paco.halili@gmail.com
    url: "mailto: paco.halili@gmail.com"
    icon: envelope-o
  - name: "@paaaco"
    url: http://gitlab.com/paaaco
    icon: gitlab
  - name: LinkedIn
    url: https://www.linkedin.com/in/pacohalili/
    icon: linkedin

---

<div class="home">

  <section class="about-me">
    <h1 class="my-name">Paco Halili</h1>
    <p class="text">
      Software developer based in <mark>Manila, Philippines</mark>.
      Specializes in <mark>Ruby on Rails</mark>. Dabbles with data science sometimes.
    </p>
  </section>

  <section class="skills">
    <h3>Things I Can Do</h3>
    <p class="text">
      I am a <mark>Ruby</mark> and <mark>Python</mark> programmer. I'm well-versed in web development with <mark>Rails</mark> and javascript frameworks like <mark>React.js</mark>, <mark>Vue.js</mark> and <mark>jQuery</mark>. I have some experience with data analysis using <mark>NumPy</mark>. I also know (a little bit of) <mark>vim</mark>.
    </p>
  </section>

  <section class="projects">
    <h3>Things I've Done</h3>
    <ul>
      {% for project in page.projects %}
        <li>
          <strong>*</strong> <a href="{{project.url}}" target="_blank">{{project.name}}</a> {{project.description}}
          <!-- {% if project.screenshot %}
            <img src="{{site.url}}/assets/images/{{project.screenshot}}"></img>
          {% endif %} -->
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="contact-info">
    <h3>Get In Touch</h3>
    <ul>
      {% for contact in page.contacts %}
        <li>{% include icon.html icon=contact.icon %} <a href="{{contact.url}}" rel="me">{{contact.name}}</a></li>
      {% endfor %}
    </ul>
  </section>

</div>
