body { background-color: #fefefe; }

.index-content-wrapper, .post-content-wrapper { 
  width: 100%; 
  margin-right: auto;
} 

@media (min-width: 800px) {
  .index-content-wrapper { width: 500px; }
  .post-content-wrapper { width: 720px; }
}

a {
  text-decoration: none;
  border-bottom: 1px dashed black;
  padding: 0 2px 0 2px;
  font-weight: 500;
  &:visited, &:active, &:link { color: blue; }
}

.post-title { margin-bottom: 0; }

blockquote {
  font-style: italic;
}

ul {
  list-style: none;
  li {
    margin-bottom: 0;
    margin-left: 5px;
  }
}

mark {
  padding: 0 5px 0 5px;
  background-color: $primary-color;
  font-weight: 500;
}

header {
  margin-bottom:15px;
}

section {
  // border: 2px solid black;
  padding: 10px;
  margin-bottom: 30px;

  // -webkit-box-shadow: -5px 5px 0px 0px $primary-color;
  // -moz-box-shadow: -5px 5px 0px 0px $primary-color;
  // box-shadow: -5px 5px 0px 0px $primary-color;
}

.page-content {
  section {
    & p.text, & ul, & div.body { 
      font-size: 1.20em; 
      margin-left: 15px;
    }
  }
}

.page-content.post section { 
  @media (min-width: 550px) {
    padding: 30px;
  } 

  .date.columns {
    text-align: right;
    font-size: initial;
  }
}

::selection {
  background-color: $secondary-color;
}

.post-content {
  margin-top: 3.5rem;
  table { 
    margin: 0 auto 2.5rem auto;
  }

  .footnotes {
    font-size: 0.80em;
  }

  &> p {
    margin-left: 1em;
    text-indent: 2em;
  }

  .center-image {
    margin: 0 auto;
    display: block;
  }

  img { width: 100%; }
}

.footnotes p { display: inline; }

section.post-list {
  div.post-item {
    margin-bottom: 2.5rem;
  }
}

h1, h2, h3, h4, h5, h6 { 
  text-transform: lowercase; 
  &.inverse-colors {
    color: white;
    background: black;
    padding-left: 20px;
  }
}

p.post-meta {
  margin-top: -1.5rem;
  margin-bottom: 0;
  mark {
    border: 2px solid black;
  }
}

:not(p) > code {
  border: 2px solid black;
  border-radius: 0;
  font-size: 100%;
  background-color: #f0f0f0;
  margin: auto;
  width: 85%;
  white-space: pre-wrap;
}

.highlighter-rouge .highlight {
  background: none;
}

table {
  th, td, th:first-child, td:first-child, th:last-child, td:last-child {
    padding: 6px 12px;
    border: 2px solid black;
  }
  th { 
    background-color: black; 
    color: white; 
    text-align: center;
  }
  border-spacing: 0;
  border-collapse: collapse;
  width: 85%;
}

hr {
  border-top: 2px dotted black;
  margin: 10px;
}

