<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    <div class="page-content index">
      <div class="wrapper">
        <div class="row">
          <div class="index-content-wrapper">
            {% include header.html %}

            {{ content }}

            {% include footer.html %}
          </div>
        </div>
      </div>
    </div>


  </body>

</html>
