---
layout: post_layout
---
<section>
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title inverse-colors p-name" itemprop="name headline">{{ page.title }}</h1>
      <p class="pull-right post-meta">
        <mark>
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"><a class="u-url" href="{{ site.url | append: page.url }}">{{ page.date | date: "%e %B %Y" }}</a></time>{% if page.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person" style="display: none;"><span class="p-author" itemprop="name">{{ page.author }}</span></span>{% endif %}
        </mark>
      </p>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

  </article>
</section>
