---
layout: post_layout
---

<section class="post-list">
  <h4>musings</h4>
  <div class="body">
    {% for post in site.posts %}
      <div class="row">
        <div class="date two columns">{{ post.date | date: "%Y-%m-%d" }}</div>
        <div class="ten columns"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></div>
      </div>
    {% endfor %}
  </div>
</section>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
