<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    <div class="page-content post">
      <div class="wrapper">
        <div class="row">
          <div class="post-content-wrapper">
            {% include header.html %}

            {{ content }}

            {% include footer.html %}
          </div>
        </div>
      </div>
    </div>


  </body>

</html>
